* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* color: #fff; */
}

body {
  background-color: rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  /* background-color: #334155; */
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0.4 rem 0.8rem #0005;
}

.logo img {
  /* width: 40px; */
  height: 40px;
  border-radius: 50%;
  filter: invert(100%);
}

ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 44%;
}

ul li {
  list-style-type: none;
}

ul li a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  z-index: 1;
}

ul li:not(:last-child) a:hover, ul li a.active {
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  color: #0556e3d5;
  text-decoration-color: #fff;
}

.btn {
  font-weight: 700;
  padding: 8px 20px;
  border: none;
  /* background: #4ca8e1; */
  background: #28079eb5;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.btn:hover{
    background-color: #2f09bbb5;
}

.hamburger{
  font-size: 30px;
  display: none;
}

@media screen and (max-width:1024px){
  .hamburger{
    display: flex;
    cursor: pointer;
  }

  ul{
    display: none;
  }

  ul.ham_active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 320px;
    gap: 24px;
    /* background-color: #30363f; */
    background-color: #000000db;
    backdrop-filter: blur(7px);
    box-shadow: 0.4 rem 0.8rem #0005;
    z-index: 100;
  }
}