body {
  margin: 0;
  padding: 0;
  background: url(../Images/colorful-circles-6000x4000-12662.jpg) center / cover;}

.stu-container {
  background-color: aqua;
  max-width: 600px;
  margin: 25px auto;
  padding: 20px;
  /* background-color: #334155; */
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff5;
  /* backdrop-filter: blur(7px); */
  box-shadow: 0.4 rem 0.8rem #0005;
}

h1 {
  margin-bottom: 25px;
  text-align: center;
}

h4 {
  text-align: center;
  margin: 20px;
  color: #fff;
}

.stu-btn {
  margin: 30px auto;
  background-color: #28079eb5;
  padding: 5px;
  border-radius: 6px;
}

.stu-btn:hover {
  background-color: #2f09bbb5;
}

@media screen and (max-width: 1024px) {
  .stu-container {
    width: 90%;
    border-radius: 12px;
  }
}
